@use './variables' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: $card-width;
  height: $card-height;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  padding: 16px;

  &__image {
    width: $card-image-width;
    height: $card-image-height;
  }

  &__product {
    display: flex;
    height: auto;
    width: $card-content-width;
    flex-direction: column;
    justify-content: space-between;

    &--text {
      color: $color-text;
      font-size: $font-size-medium;
      font-weight: 500;
      line-height: $line-height-medium;
    }
    &--code {
      color: $color-secondary;
      font-weight: 400;
      font-size: $font-size-small;
      line-height: $line-height-small;
      height: 14px;
      width: 98px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__price {
    display: flex;
    width: $card-content-width;
    height: 18px;
    align-items: center;
    justify-content: space-between;

    &-label {
      color: $color-secondary;
      font-size: $font-size-medium;
      font-weight: 400;
      line-height: $line-height-medium;
    }
    &-value {
      color: $color-text;
      font-size: $font-size-large;
      font-weight: 700;
      line-height: $line-height-medium;
    }
  }

  &__button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &--buy {
      background-color: $color-primary;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      width: $btn-width;
      height: $btn-height;
      border-radius: $btn-radius;
      border: 1px solid $color-primary;
      text-decoration: none;
      text-align: center;
      line-height: $btn-height;
    }

    &--buy:hover {
      border: 1px solid $color-primary;
      background-color: #f3f3f3;
      color: $color-primary;
    }
  }
}
