@use './variables' as *;

/* #region stars */
.stars {
  display: flex;
  width: 166px;
  height: 16px;
  justify-content: space-between;
  align-items: center;
  &__star {
    height: 16px;
    width: 16px;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
    display: block;
  }

  &__star:last-child {
    margin-right: 0;
  }
  &--1 .stars__star:nth-child(-n + 1),
  &--2 .stars__star:nth-child(-n + 2),
  &--3 .stars__star:nth-child(-n + 3),
  &--4 .stars__star:nth-child(-n + 4),
  &--5 .stars__star:nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
  }

  &__text {
    color: $main-color;
    font-size: 10px;
    font-weight: 400;
    margin-left: 16px;
    line-height: 14px;
    height: 16px;
  }
}
